html {
    display: table;
    margin: auto;
}

body {
    background-color: lightblue;
    display: table-cell;
}

#title {
    text-align: center;
    font-size: 50px;
    background-color: lightblue;
    color: white;
    text-shadow: 5px 10px 20px darkblue;
}

ul {
    list-style-type: none;
}

li {
    padding: 200px;
    float: left;
}

#first {

}

#second {

}

#third {

}


#go_back {
    padding: 20px;
    font-size: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    border: 5px solid darkblue;
    border-radius: 10%;
    text-shadow: 1px 1px 2px black;
}

#go_back:hover {
    color: darkblue;
}


#skills {
    padding: 20px;
    font-size: 30px;
    position: fixed;
    right: 0;
    bottom: 0;
    border: 5px solid darkblue;
    border-radius: 10%;
    text-shadow: 1px 1px 2px black;
}

#skills:hover {
    color: darkblue;
}