body {
    background-color: lightblue;
}

#title {
    text-align: center;
    font-family: "Arial Black", fantasy;
    font-size: 50px;
}

#profile {
    border-radius: 50%;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    display: inline;
    margin-left: 50px;
    border-right: 5px solid darkblue;
}

li a {
    text-align: center;
    font-size: 30px;
    padding: 14px 16px;
    font-family: "Arial Black", sans-serif;
}

li a:hover {
    background-color: lightblue;
}


#about {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 25px;
    font-family: "Arial Black", sans-serif;

}
#text_about{
    margin-left: 50px;
    font-size: 20px;
    text-align: left;
    display: block;
}
#footer{
    text-align: center;
    font-family: Algerian, sans-serif;
    display: block;
    
    background-color: lavender;
}