html {
    display: table;
    margin: auto;
    background-color: lightblue;
}

body {
    display: table-cell;
    margin: auto;
}

#all_skills {
    column-count: 2;
}

li {
    font-size: 35px;
}

#about_me {

    color: black;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px white;
}

#all_skills {
    list-style-type: none;
}

h3 {
    border-style: solid;
    border-radius: 70%;
    border-color: darkblue;
    color: black;
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 2px white;
}


.languages {
    list-style-type: none;
    font-size: 30px;
    column-count: 2;
    line-height: 100px;
    text-align: left;
}

.languages #python {
    color: green;
    text-shadow: 10px 5px 20px greenyellow;
}

.languages #java {
    color: orange;
    text-shadow: 10px 5px 20px darkorange;
}

.languages #r {
    color: blue;
    text-shadow: 10px 5px 20px darkblue;
}

.languages #html {
    color: darkgoldenrod;
    text-shadow: 10px 5px 20px yellow;
}

.languages #css {
    color: mediumpurple;
    text-shadow: 10px 5px 20px purple;
}

.languages #js {
    color: yellow;
    text-shadow: 10px 5px 30px darkgoldenrod;
}

.languages #regex {
    color: hotpink;
    text-shadow: 10px 5px 30px palevioletred;
}

.technologies {
    list-style-type: none;
    font-size: 30px;
    column-count: 2;
    line-height: 100px;
    text-align: left;
}

.technologies #hfst\/xfst {
    color: gray;
    text-shadow: 10px 5px 30px grey;
}

.technologies #streamlit {
    color: red;
    text-shadow: 10px 5px 30px #dc4646;
}

.technologies #tkinter {
    color: #475fd2;
    text-shadow: 10px 5px 30px #475fd2;
}

.technologies #pytorch {
    color: rgba(173, 16, 16, 0.87);
    text-shadow: 10px 5px 30px orangered;
}

.technologies #spacy {
    color: blue;
    text-shadow: 10px 5px 30px rgba(0, 196, 255, 0.76);
}

.technologies #pandas {
    color: white;
    text-shadow: 10px 5px 50px black;
}

.technologies #numpy {

    text-align: center;
    color: yellow;
    text-shadow: 2px 2px grey;
}

.technologies #sympy {

    border-radius: 80%;
    text-shadow: 1px 1px white;
    text-align: center;
}

.technologies #scipy {

    text-align: center;
    color: #1f2626;
    text-shadow: 1px 1px rgba(0, 196, 255, 0.76);
}

.technologies #scikit {
    text-align: center;
    color: orange;
    text-shadow: 1px 1px #6868d9;
}


.others {
    list-style-type: none;
    font-size: 30px;
    column-count: 2;
    line-height: 100px;
    text-align: left;
}

.others #github {
    text-shadow: 1px 3px white;
}

.others #github_classroom {
    color: black;
    text-shadow: 2px 1px green;
}

.others #github_pages {
    text-shadow: 1px 3px white;
}

.others #git {
    color: rgba(173, 16, 16, 0.87);
    text-shadow: 10px 5px 30px orangered;
}

.others #windows_linux {
    color: blue;
    text-shadow: 10px 5px 30px rgba(0, 196, 255, 0.76);
}

.others #markdown {
    color: mediumpurple;
    text-shadow: 10px 5px 20px purple;
}

.others #latex {
    color: darkgoldenrod;
    text-shadow: 10px 5px 20px yellow;
}

.others #praat {
    color: blue;
    text-shadow: 10px 5px 30px rgba(13, 76, 94, 0.76);
}

.others #rapid {
    color: rgba(245, 10, 10, 0.99);
    text-shadow: 10px 5px 30px rgba(245, 10, 10, 0.99);
}

.others #annis {
    color: white;
    text-shadow: 10px 5px 50px black;
}

.others #figma {
    color: hotpink;
    text-shadow: 10px 5px 30px palevioletred;
}

.others #ms_office {
    color: gray;
    text-shadow: 10px 5px 30px grey;
}

#go_back {
    font-size: 30px;
    padding-left: 50%;
    padding-right: 50%;
    background-color: lightblue;
}

#go_back:hover {
    background-color: darkblue;
}