html {
    display: table;
    margin: auto;
    background-color: lightblue;
}

body {
    display: table-cell;
    margin: auto;
}

#all_skills {
    column-count: 2;
}

li {
    font-size: 35px;
}

#about_me {

    color: black;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px 20px white;
}

#all_skills {
    list-style-type: none;
}

h3 {
    color: black;
    font-size: 35px;
    text-align: center;
    text-shadow: 5px 5px 20px white;
}


.languages {
    list-style-type: none;
    font-size: 30px;
    column-count: 2;
    line-height: 100px;
    text-align: left;
}
.languages #python {
    color: green;
    text-shadow: 10px 5px 20px greenyellow;
}

.languages #java {
    color: orange;
    text-shadow: 10px 5px 20px darkorange;
}
.languages #r {
    color: blue;
    text-shadow: 10px 5px 20px darkblue;
}
.languages #html {
    color: darkgoldenrod;
    text-shadow: 10px 5px 20px yellow;
}
.languages #css {
    color: mediumpurple;
    text-shadow: 10px 5px 20px purple;
}
.languages #js {
    color: yellow;
    text-shadow: 10px 5px 30px darkgoldenrod;
}

.languages #regex {
    color: hotpink;
    text-shadow: 10px 5px 30px palevioletred;
}

.technologies {
    list-style-type: none;
    font-size: 30px;
    column-count: 2;
    line-height: 100px;
    text-align: left;
}

.others {
    list-style-type: none;
    font-size: 30px;
    column-count: 2;
    line-height: 100px;
    text-align: left;
}


