html {
    background-color: cadetblue;
    display: table;
    margin: auto;
}

body {
    background-color: white;
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
}

#contact {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    background-color: lightblue;
    color: white;
    text-shadow: 5px 10px 20px darkblue;
}

#linkedin_photo {
    height: 30px;
}

#github_photo {
    height: 30px;
}

#outer {
    list-style-type: none;
    column-count: 2;
}

li {
    margin-bottom: 0;
    padding: 15px;
}

#github {
    float: right;
    text-align: center;
}

#go_back {
    font-size: 20px;
    position: relative;
    bottom: -10%;
    border: 5px solid lightblue;
    border-radius: 10%;
    text-shadow: 1px 1px 2px black;

}

#go_back:hover {
    background-color: lightblue;
}

#education_work {
    font-size: 20px;
    position: relative;
    bottom: -10%;
    float: right;
    border: 5px solid lightblue;
    border-radius: 10%;
    text-shadow: 1px 1px 2px black;
}

#education_work:hover {
    background-color: lightblue;
}

#emails {
    font-size: 30px;
    text-shadow: 2px 2px 5px darkblue;
}

#inner {
    list-style: circle;
    line-height: 20px;
}

#address {
    font-size: 30px;
    text-shadow: 2px 2px 5px darkblue;
}

p {
    font-size: 20px;
}

#mobile {
    font-size: 30px;
    text-shadow: 2px 2px 5px darkblue;
}

#linkedin {
    font-size: 30px;
    text-shadow: 2px 2px 5px darkblue;
}

#github_profile {
    font-size: 30px;
    text-shadow: 2px 2px 5px darkblue;
}

li #leetcode #leetcode_photo {
    height: 30px;
}

li #leetcode {
    font-size: 30px;
    text-shadow: 2px 2px 5px darkblue;
}
